

img {
    --s: 250px;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 14px;    /* the gap */
    --c: #4ECDC4; /* the color */

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 2s;
}
img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

img + img {
    border-radius: 50%;
}


body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    place-content: center;
    place-items: center;
    background: #C8C8A9;
}


.fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}
